.rule-circle {
    position: relative;
    border: 4px solid;
    border-radius: 75px;
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    z-index: 2;
    display: inline-block;
    align-self: flex-start;
    min-width: 50px;

    /* tooltip to display a circle's truncated text */
    .rule-tooltip .rule-tooltiptext {
        visibility: hidden;
        background-color: #FFF;
        text-align: center;
        white-space: nowrap;
        font-size: small;
        color: #696161;

        padding: 3px 5px;
        line-height: 20px;
        bottom: 90%;
        left: 50%;

        border: 1px;
        border-color: #b1b1b1;
        border-style: solid;
        border-radius: 4px;


        position: absolute;
        z-index: 1;
    }

    .rule-tooltip:hover .rule-tooltiptext {
        visibility: visible;
    }
}

.rule-circle:first-child {
    margin-top: 0;
}

.rule-circle.circle-text {
    padding: 0px 3px 0px 3px;
}

.rule-circle.circle-text:before {
    left: 18%;
}

.rule-circle-line {
    position: relative;
    display: flex !important;
    column-gap: 10px;
    align-items: center;
}

.rule-circle-line:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 55px;
    left: 24px;
    border: 1px solid #a0a9ba;
    width: 1px;
    bottom: -8px;
}

.rule-circle-line:last-child:before {
    display: none;
}


.rules-tree {

    .operator-container {
        display: flex !important;
        column-gap: 10px;
        align-items: center;

        .operator * {
            text-transform: uppercase;
            background-color: theme-color('light');
            border-radius: 1em;
            padding: 0.25em 0.75em;
            display: block;
            text-align: center;
            min-width: 45px;
        }
    }

    /* overwrite gijgo style */
    ul.gj-list-bootstrap {

        /* no border and black text color for tree nodes */
        li {
            border: 0;
            color: #000 !important;
        }

        /* background color for selected tree nodes */
        li.active {
            background-color: #00385236;
        }
    }
}

.rules-tree.non-editable {

    /* add extra space to the subnodes of a node */
    .rules-progress ul.gj-list-bootstrap ul.gj-hidden {
        padding-left: 28px;
    }

    /* tree nodes of a non-editable tree shouldn't be selectable
       workaround: don't change the selected node's background color nor the cursor */
    ul.gj-list-bootstrap li.active {
        background: transparent;
    }

    * {
        cursor: default !important;
    }

    /* transform cursor to pointer inside expander elements */
    [data-role="expander"] * {
        cursor: pointer !important;
    }
}

/* remove paddings on mobile devices */
@media screen and (max-width: 500px) {
    .rules-tree.non-editable {
        .operator-container {
            grid-column-gap: 5px;
        }

        [data-role="wrapper"] {
            padding: 0 !important;
        }

        [data-role="display"] {
            padding-left: 0 !important;
        }

        ul.gj-list-bootstrap ul.gj-hidden {
            padding-left: 0px !important;
        }
    }
}
